include:
  - ./monitoring.yml 
services:
  dragonfly:
    image: eqalpha/keydb:x86_64_v5.3.3
    ports:
    - 6379:6379
    command: keydb-server --server-threads 2 --requirepass data_store_password
    hostname: datastore
    #volumes:
    #  - ./var/redis.conf:/etc/keydb/redis.conf
  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
    - REDIS_HOSTS=local:datastore:6379:0:data_store_password
    ports:
    - 8081:8081