include:
  - ./monitoring.yml 
services:
  valkey:
    image: docker.io/valkey/valkey:9.0.0-alpine
    ports:
      - '6379:6379'
    command: >
      --requirepass "data_store_password"
    hostname: datastore  
  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
    - REDIS_HOSTS=local:datastore:6379:0:data_store_password
    ports:
    - 8081:8081
